footer {
  width: 100%;
  background-color: rgb(177, 177, 177);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}
body {
  background-color: whitesmoke;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
}
.comment {
  padding: 25px;
  border-radius: 10px;
  box-shadow: gray;
  display: flex;
  background-color: white;
  margin-bottom: 30px;
}
.user-details {
  align-items: center;
  margin-bottom: 15px;
  gap: 30px;
  display: flex;
}
.like-container p {
  color: rgb(34, 34, 173);
  margin: 20px 5px 15px 5px;
}
* {
  margin: 5px;
  padding: 5px;
}
.post {
  margin-bottom: 30px;
  padding: 25px;
  border-radius: 20px;
  display: flex;
  background-color: white;
  box-shadow: gray;
}
.user {
  font-size: 15px;
  font-weight: 15px;
  color: rgb(0, 0, 125);
}
.user a {
  text-decoration: none;
  color: rgb(0, 0, 125);
}
.date {
  font-size: 14px;
  color: gray;
}
.post-wrapper {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}
.wrapper {
  margin: 60px 500px;
}
button:hover {
  cursor: pointer;
}
.comment-container {
  border-left: 1px solid rgb(95, 95, 201);
  margin-left: 60px;
  padding-left: 60px;
}
.you {
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  width: 20px;
  background-color: blue;
  color: white;
}
.avatar {
  height: 35px;
  width: 35px;
}
.post-header {
  display: flex;
  justify-content: space-between;
}
#comment-input {
  height: 80px;
  width: 100%;
  border-radius: 10px;
  resize: none;
  border: 1px solid rgb(176, 176, 176);
  font-size: 14px;
}
#comment-input:focus {
  outline: none;
}
footer a {
  color: white;
}
.reply-btn {
  border: none;
  color: rgb(0, 0, 225);
  background-color: white;
  font-size: 10x;
  font-weight: bold;
}
.plus-btn,
.minus-btn {
  border: none;
}
.like-container {
  width: 100px;
  height: 90px;
  border-radius: 10px;
  background-color: rgb(205, 205, 205);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-text {
  color: lightgrey;
}
.user a:hover {
  color: rgb(211, 211, 211);
}
.comment-text {
  color: rgb(211, 211, 211);
}
#send-btn:active {
  transform: scale(1.1);
}
footer a:hover {
  color: blue;
}
#send-btn:hover {
  background-color: white;
  border: 2px solid blue;
  color: blue;
}
#send-btn {
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  background-color: blue;
}
.delete:hover {
  color: hsl(357, 100%, 86%);
}
.delete:active {
  color: hsl(357, 100%, 86%);
}
.delete {
  font-size: 10px;
  font-weight: bold;
  color: hsl(357, 100%, 86%);
  margin-right: 10px;
}
.reply-btn:active {
  color: hsl(238, 75%, 62%);
}
.edit:active {
  color: hsl(238, 75%, 62%);
}
.edit:hover,
.reply-btn:hover {
  color: hsl(238, 75%, 62%);
}
.edit {
  color: hsl(238, 75%, 62%);
  font-size: 15px;
  font-weight: bold;
}
.user-btn-group button {
  background-color: white;
  border: none;
}
.plus-btn img:hover,
.minus-btn img:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}
.comment-text a:target {
  text-decoration: none;
}
.comment-text a {
  text-decoration: none;
  color: blue;
}
.comment-text a:hover {
  color: blue;
}
a:hover {
  cursor: pointer;
  color: linear-gradient(rgb(0 0 0/60%) 0 0);
}
.input-container {
  margin-bottom: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  background-color: white;
  gap: 20px;
}
/* Stretch Goals Make it fit to different screen sizes */
@media only screen and (min-width: 2560px) {
  .wrapper {
    margin: 80px 600px;
  }
}
